<div>
    <h1>Productos</h1>
    <a href='http://localhost:8080/'><button>Home</button></a>
    <div>

    <h2>Bienvenido {{user.email}}</h2>
    <button id="logout">Logout </button>
        {{#each payload}}
        <div>
            <a href="./product/{{this._id}}">
            <p>Product:{{this.title}} </p>
            <p>Category:{{this.category}} </p>
            <p>Price:{{this.price}} </p>
            <p>Stock:{{this.stock}} </p>
            </a>

            <form 
                cart="{{../cart}}"
                product="{{this._id}}"
            >
            <input type='submit' value='Add to cart'/>
            </form>
            <a href="./products/{{this._id}}">Detalle producto</a>
            <a href="./api/cart/{{cart}}/product/{{this._id}}"target="_blank">Agregar al Carrito</a>
        </div>
        {{/each}}
    </div>
    <div>
        {{#if hasPrevPage}}
        <a href="/products?query={{query}}&limit={{limit}}&page={{prevPage}}&sort={{sort}}"><button>Pagina previa</button></a>
        {{/if}}
        <p>{{page}}</p>
        {{#if hasNextPage}}
        <a href="/products?query={{query}}&limit={{limit}}&page={{nextPage}}&sort={{sort}}"><button>Pagina siguiente</button></a>
        {{/if}}

    </div>
</div>

<script src="/src/public/js/products.js"></script>