<div>
    <h1>Producto</h1>
    <div>
        <p>Product: {{product.title}} </p>
        <p>Descripcion: {{product.description}} </p>
        <p>Precio: ${{product.price}} </p>
        <p>Stock: {{product.stock}} </p>
        <p>Categoria: {{product.category}} </p>
    </div>    
    <form class='product-form' cart='{{cart}}' product='{{product._id}}'>
        <input type='submit' value='Add to cart' class='product-button' />
    </form>
        
</div>


    

<script src='/js/products.js'></script>